{
  "name": "{{PACKAGE_NAME}}",
  "version": "0.1.0",
  "private": true,
  "scripts": {
    "build": "gm-apprentice-publish build",
    "watch": "gm-apprentice-publish build --watch"
  },
  "dependencies": {
    "gm-apprentice-publish": "{{TOOL_DEP}}"
  }
}
